{% extends 'base.html' %}

{% block content %}
<h1>{{ app_name }}</h1>

<h5>Name:</h5>
<p>{{ name }}</p> <!-- Change it to your name -->

<h5>Class:</h5>
<p>{{ class }}</p> <!-- Change it to your class -->

<p>You have saved {{ item_count }} books in this application</p> 


<table>
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Category</th>
        <th>Date Added</th>
    </tr>

    {% for item in items %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.description}}</td>
            <td>{{item.categories}}</td>
            <td>{{item.date_added}}</td>
        </tr>
    {% endfor %}
</table>

<br />

<a href="{% url 'main:create_product' %}">
    <button>
        Add New Book to Collection
    </button>
</a>

{% endblock content %}
